:root {
  --background-color: #1A1A1D;
  --primary-color: #A64D79;
  --secondary-color: #3B1C32;
}

#root {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  width: auto;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
